@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.common-btn{
  @apply px-10 py-3 border-2 border-white hover:text-white hover:bg-black font-bold rounded-full bg-white text-black transition-all duration-300 transform hover:scale-105 text-lg cursor-pointer
}
.common-btn-two{
  @apply px-10 py-3 border-2 border-white hover:border-black hover:border-2 text-white bg-black font-bold rounded-full hover:bg-white hover:text-black transition-all duration-300 transform hover:scale-105 text-lg cursor-pointer
}


.theme-btn{
  @apply px-8 py-3 bg-gradient-to-r from-blue-600 to-indigo-600 hover:from-blue-700 hover:to-indigo-700 text-white font-bold rounded-lg transition-all duration-300 transform hover:scale-105 shadow-lg hover:shadow-blue-500/50 flex items-center justify-center gap-2 text-lg cursor-pointer border-none
}
